[submodule "python-p3-inheritance-lab-pt-2"]
	path = python-p3-inheritance-lab-pt-2
	url = git@github.com:learn-co-curriculum/python-p3-inheritance-lab-pt-2.git
[submodule "p3-class-attributes-and-methods-lab"]
	path = p3-class-attributes-and-methods-lab
	url = git@github.com:learn-co-curriculum/python-p3-class-attributes-and-methods-lab.git
[submodule "p3-fileio-lab"]
	path = p3-fileio-lab
	url = git@github.com:learn-co-curriculum/python-p3-fileio-lab.git
[submodule "p4-flask-application-structure"]
	path = p4-flask-application-structure
	url = git@github.com:learn-co-curriculum/python-p4-flask-application-structure.git
